*:not(.markdown > *) {
  font-size: 16px;
  color: inherit;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --default-font-family: 'Noto Sans KR', sans-serif;
  --dark-bg-nav-color: #212121;
  --dark-bg-color: #121212;
  --dark-font-color: #dadada;
  --dark-bg-item-color: #212121;
  --md-container-width: 80%;
  --primary: #985eff;
  --secondary: #09c372;
}

.btn {
  background-color: var(--primary);
  padding: 0.8rem 1.2rem;
  outline: 0;
  border: 0;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
